# MySQL
MYSQL_ROOT_PASSWORD=ваш_пароль
MYSQL_DATABASE=gisp_db
MYSQL_USER=ваш_user_name
MYSQL_PASSWORD=ваш_пароль_для_дб

# n8n
N8N_PASSWORD=ваш_пароль_для_n8n

# YandexGPT (замените на свои реальные данные после получения)
YANDEX_API_KEY=ваш_api_ключ
YANDEX_FOLDER_ID=ваш_идентификатор_каталога
YANDEX_MODEL=yandexgpt-lite

# Настройки скраппинга
BASE_URL=https://gisp.gov.ru
NAVIGATOR_URL=https://gisp.gov.ru/navigator-measures/ru-RU
ITEMS_PER_PAGE=50
MAX_RETRIES=3
REQUEST_DELAY=2