# MySQL
MYSQL_ROOT_PASSWORD=ваш_пароль
MYSQL_DATABASE=gisp_db
MYSQL_USER=ваш_user_name
MYSQL_PASSWORD=ваш_пароль_для_дб

# n8n
N8N_PASSWORD=ваш_пароль_для_n8n

# YandexGPT (замените на свои реальные данные после получения)
YANDEX_API_KEY=ваш_api_ключ
YANDEX_FOLDER_ID=ваш_идентификатор_каталога
YANDEX_MODEL=yandexgpt-lite

# URL с фильтром региональных мер (ДОБАВЛЕНО)
NAVIGATOR_URL=https://gisp.gov.ru/nmp/main/?recommended=0&territory%5B%5D=6403438&search_terms=&search_terms=&search_terms=&search_terms=&event=&search_terms=&search_terms=&search_terms=&search_terms=&search_terms=&measureActive=0&searchstr=&csrftoken=18b9f5a678b5d8e962a2512cab214264058cfd9b275a4adf63f84e427225af9fffe01f306a31a47c

# Параметры скраппинга (ДОБАВЛЕНЫ)
BASE_URL=https://gisp.gov.ru
ITEMS_PER_PAGE=50
MAX_RETRIES=3
REQUEST_DELAY=5
TEST_LIMIT=20